<div class="job">
    <h1>{{ job.title }}</h1>
    <div class="job-body">{{ job.content }}</div>
    <div class="job-footer row text-uppercase">
        <div class="col-md-4 text-left">
            {% for tag in job.taxonomy.tag %}
                <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-right">
            <span class="pull-right">{{ page.date|date("d M Y") }}</span>
        </div>
    </div>
    <hr>
</div>